<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script>
    var __wxAppData = {}
    var __wxRoute
    var __wxRouteBegin
    var __eval = eval
    var global = {}
    {{= _.logMethods}}
  </script>
  <script src="script/service-config.js?v={{= _.version}}"></script>
  <script src="script/config.js?v={{= _.version}}" type="text/javascript"></script>
  <script src="../../../framework/script/service.js?v={{= _.version}}" type="text/javascript"></script>
  <script src="script/app-service.js?v={{= _.version}}"></script>
</head>

<body>
  <script>
    ServiceJSBridge.publish('serviceReady', __wxConfig__, [100000]);
  </script>
</body>

</html>